html,body{
 margin:0;
 height:100%;
 display:flex;
 justify-content:center;
 align-items:center;
 background:
  radial-gradient(circle at top,#0b3a75,#020816);
 font-family:Arial;
 color:white;
}

.music-app{
 width:90%;
 max-width:900px;
 background:linear-gradient(180deg,#071c3f,#020816);
 padding:1.4rem;
 border-radius:20px;
 text-align:center;
 box-shadow:
 0 0 40px #1e90ff,
 0 0 120px #00cfff;
}

h1{
 text-shadow:0 0 18px #1e90ff;
}

#cover{
 width:220px;
 border-radius:14px;
 box-shadow:0 0 30px #1e90ff;
 cursor:pointer;
 transition:.3s;
}

#cover.playing{
 animation:pulse 2s infinite alternate;
}

@keyframes pulse{
 from{box-shadow:0 0 30px #1e90ff;}
 to{box-shadow:0 0 90px #00cfff;}
}

.controls{
 margin:.4rem 0;
}

.controls button{
 background:#06162f;
 border:1px solid #1e90ff;
 color:white;
 padding:.5rem .7rem;
 border-radius:10px;
 margin:.2rem;
 box-shadow:0 0 10px #1e90ff;
 cursor:pointer;
 transition:.2s;
}

.controls button:hover{
 transform:scale(1.15);
 box-shadow:0 0 25px #00cfff;
}

.controls button.active{
 background:#00cfff;
 color:black;
}

input{
 width:80%;
 margin:.4rem;
}

#playlist{
 list-style:none;
 padding:0;
 max-height:220px;
 overflow-y:auto;
}

#playlist li{
 padding:.4rem;
 cursor:pointer;
 border-radius:6px;
}

#playlist li:hover{
 background:#1e90ff33;
}

#playlist li.current{
 background:#1e90ff55;
 box-shadow:inset 0 0 10px #1e90ff;
}